In [1]:
import sys
from pathlib import Path
import warnings
warnings.filterwarnings("ignore", module="IPython")

#Find root directory
root_dir = Path().absolute()
if root_dir.parts[-2:] == ('notebooks', 'algae_bloom'):
    root_dir = Path(*root_dir.parts[:-2])
root_dir = str(root_dir)

print(f"Root dir: {root_dir}")

# Add the root directory to the `PYTHONPATH` 
if root_dir not in sys.path:
    sys.path.append(root_dir)
    print(f"Added the following directory to the PYTHONPATH: {root_dir}")

# Set the environment variables from the file <root_dir>/.env
from mlfs import config
settings = config.HopsworksSettings(_env_file=f"{root_dir}/.env")

python-dotenv could not parse statement starting at line 12

Root dir: /Users/kevinkokalari/Documents/Skalbar MaskininlaÃàrning och DjupinlaÃàrning/Laborationer/id2223-project
Added the following directory to the PYTHONPATH: /Users/kevinkokalari/Documents/Skalbar MaskininlaÃàrning och DjupinlaÃàrning/Laborationer/id2223-project
HopsworksSettings initialized!

<span style="font-width:bold; font-size: 3rem; color:#333;">- Feature Backfill for Water Temperature Data</span>

## üåê Imports

In [2]:
import datetime
import requests
import pandas as pd
import hopsworks
from mlfs.airquality import util
import datetime
from pathlib import Path
import json
import re
import os
import warnings
warnings.filterwarnings("ignore")

## Hopsworks connection

In [3]:
project = hopsworks.login(engine="python")

2026-01-02 23:07:34,192 INFO: Initializing external client
2026-01-02 23:07:34,193 INFO: Base URL: https://c.app.hopsworks.ai:443

2026-01-02 23:07:35,710 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1286295

## üëâ Setting variables

In [4]:
today = datetime.date.today() 

backfill_file = f"{root_dir}/data/watertemp_midday_deduped.csv" #<-- √ÑNDRA H√ÑR
util.check_file_path(backfill_file)

# Array of dictionaries for each bath location
bath_locations =[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, 
                {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674},
                {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184},
                {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387},
                {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886},
                {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534},
                {'bath_location': 'N√§sets udde(Glashyttan)', 'latitude': 59.158419, 'longitude': 17.66072},
                {'bath_location': 'Under√•sbadet', 'latitude': 59.26482, 'longitude': 17.536534},
                {'bath_location': '√Öbyn√§sbadet', 'latitude': 59.018397, 'longitude': 17.619576},
                ]

#coordinates = settings.coordinates #<-- √ÑNDRA H√ÑR

File successfully found at the path: /Users/kevinkokalari/Documents/Skalbar MaskininlaÃàrning och DjupinlaÃàrning/Laborationer/id2223-project/data/watertemp_midday_deduped.csv

## üñºÔ∏è Create DataFrame for Water Temperature

The cell below will read up historical air quality data as a CSV file into a Pandas DataFrame

In [5]:
#Store all water temperature measures for all bath locations in dataframe
raw_data_df = pd.read_csv(backfill_file,  parse_dates=['formatted_time'], skipinitialspace=True)

raw_data_df

      temp_water      formatted_time        alias   latitude  longitude
0            2.9 2022-01-01 12:26:00   Bergabadet  59.057008  17.440774
1            2.8 2022-01-02 12:27:00   Bergabadet  59.057008  17.440774
2            2.8 2022-01-03 12:27:00   Bergabadet  59.057008  17.440774
3            2.7 2022-01-04 12:27:00   Bergabadet  59.057008  17.440774
4            2.8 2022-01-05 12:30:00   Bergabadet  59.057008  17.440774
...          ...                 ...          ...        ...        ...
7445        10.8 2025-05-17 14:58:00  √Öbyn√§sbadet  59.018397  17.619576
7446        10.6 2025-05-18 08:58:00  √Öbyn√§sbadet  59.018397  17.619576
7447        12.2 2025-05-19 14:58:00  √Öbyn√§sbadet  59.018397  17.619576
7448        12.8 2025-05-20 14:58:00  √Öbyn√§sbadet  59.018397  17.619576
7449        12.2 2025-05-21 14:58:00  √Öbyn√§sbadet  59.018397  17.619576

[7450 rows x 5 columns]

## üßπClean data

In [6]:
#Select columns
water_temp_df = raw_data_df[['formatted_time', "alias", 'temp_water', 'longitude', "latitude"]] #<-- √ÑNDRA

water_temp_df

          formatted_time        alias  temp_water  longitude   latitude
0    2022-01-01 12:26:00   Bergabadet         2.9  17.440774  59.057008
1    2022-01-02 12:27:00   Bergabadet         2.8  17.440774  59.057008
2    2022-01-03 12:27:00   Bergabadet         2.8  17.440774  59.057008
3    2022-01-04 12:27:00   Bergabadet         2.7  17.440774  59.057008
4    2022-01-05 12:30:00   Bergabadet         2.8  17.440774  59.057008
...                  ...          ...         ...        ...        ...
7445 2025-05-17 14:58:00  √Öbyn√§sbadet        10.8  17.619576  59.018397
7446 2025-05-18 08:58:00  √Öbyn√§sbadet        10.6  17.619576  59.018397
7447 2025-05-19 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397
7448 2025-05-20 14:58:00  √Öbyn√§sbadet        12.8  17.619576  59.018397
7449 2025-05-21 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397

[7450 rows x 5 columns]

## üíß Drop missing columns

In [7]:
water_temp_df.dropna(inplace=True)
water_temp_df

          formatted_time        alias  temp_water  longitude   latitude
0    2022-01-01 12:26:00   Bergabadet         2.9  17.440774  59.057008
1    2022-01-02 12:27:00   Bergabadet         2.8  17.440774  59.057008
2    2022-01-03 12:27:00   Bergabadet         2.8  17.440774  59.057008
3    2022-01-04 12:27:00   Bergabadet         2.7  17.440774  59.057008
4    2022-01-05 12:30:00   Bergabadet         2.8  17.440774  59.057008
...                  ...          ...         ...        ...        ...
7445 2025-05-17 14:58:00  √Öbyn√§sbadet        10.8  17.619576  59.018397
7446 2025-05-18 08:58:00  √Öbyn√§sbadet        10.6  17.619576  59.018397
7447 2025-05-19 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397
7448 2025-05-20 14:58:00  √Öbyn√§sbadet        12.8  17.619576  59.018397
7449 2025-05-21 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397

[7450 rows x 5 columns]

## üß∫Add Values to Dataframe

In [8]:
#Add values to dataframe

#water_temp_df['country']= "sweden"#xx #<-- KOLLA OM DET BEH√ñVS

water_temp_df

          formatted_time        alias  temp_water  longitude   latitude
0    2022-01-01 12:26:00   Bergabadet         2.9  17.440774  59.057008
1    2022-01-02 12:27:00   Bergabadet         2.8  17.440774  59.057008
2    2022-01-03 12:27:00   Bergabadet         2.8  17.440774  59.057008
3    2022-01-04 12:27:00   Bergabadet         2.7  17.440774  59.057008
4    2022-01-05 12:30:00   Bergabadet         2.8  17.440774  59.057008
...                  ...          ...         ...        ...        ...
7445 2025-05-17 14:58:00  √Öbyn√§sbadet        10.8  17.619576  59.018397
7446 2025-05-18 08:58:00  √Öbyn√§sbadet        10.6  17.619576  59.018397
7447 2025-05-19 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397
7448 2025-05-20 14:58:00  √Öbyn√§sbadet        12.8  17.619576  59.018397
7449 2025-05-21 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397

[7450 rows x 5 columns]

In [9]:
water_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7450 entries, 0 to 7449
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   formatted_time  7450 non-null   datetime64[ns]
 1   alias           7450 non-null   object
 2   temp_water      7450 non-null   float64
 3   longitude       7450 non-null   float64
 4   latitude        7450 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 291.1+ KB

## ‚èÆÔ∏è Calculate and Add Legged Values

In [10]:
#Sort to make sure lagged values are correct

water_temp_df = water_temp_df.sort_values(["alias", "formatted_time"]) # First sort by batch location, then date <-- KOLLA OM NAMN SKA √ÑNDRAS

water_temp_df

          formatted_time        alias  temp_water  longitude   latitude
0    2022-01-01 12:26:00   Bergabadet         2.9  17.440774  59.057008
1    2022-01-02 12:27:00   Bergabadet         2.8  17.440774  59.057008
2    2022-01-03 12:27:00   Bergabadet         2.8  17.440774  59.057008
3    2022-01-04 12:27:00   Bergabadet         2.7  17.440774  59.057008
4    2022-01-05 12:30:00   Bergabadet         2.8  17.440774  59.057008
...                  ...          ...         ...        ...        ...
7445 2025-05-17 14:58:00  √Öbyn√§sbadet        10.8  17.619576  59.018397
7446 2025-05-18 08:58:00  √Öbyn√§sbadet        10.6  17.619576  59.018397
7447 2025-05-19 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397
7448 2025-05-20 14:58:00  √Öbyn√§sbadet        12.8  17.619576  59.018397
7449 2025-05-21 14:58:00  √Öbyn√§sbadet        12.2  17.619576  59.018397

[7450 rows x 5 columns]

In [11]:
#Adding columns for lagged air quality

#Takes which sensor it is into account when running A
water_temp_df["lagged_wt_1_day"]  = water_temp_df.groupby("alias")["temp_water"].shift(1) #<-- KOLLA VARIABLESNAMN + ev felhantera
water_temp_df["lagged_wt_2_days"] = water_temp_df.groupby("alias")["temp_water"].shift(2)
water_temp_df["lagged_wt_3_days"] = water_temp_df.groupby("alias")["temp_water"].shift(3)

water_temp_df.dropna(inplace=True)
water_temp_df

,formatted_time,alias,temp_water,longitude,latitude,lagged_wt_1_day,lagged_wt_2_days,lagged_wt_3_days
3,2022-01-04 12:27:00,Bergabadet,2.7,17.440774,59.057008,2.8,2.8,2.9
4,2022-01-05 12:30:00,Bergabadet,2.8,17.440774,59.057008,2.7,2.8,2.8
5,2022-01-06 12:28:00,Bergabadet,2.8,17.440774,59.057008,2.8,2.7,2.8
6,2022-01-07 12:28:00,Bergabadet,2.8,17.440774,59.057008,2.8,2.8,2.7
7,2022-01-08 12:28:00,Bergabadet,2.8,17.440774,59.057008,2.8,2.8,2.8
...,...,...,...,...,...,...,...,...
7445,2025-05-17 14:58:00,√Öbyn√§sbadet,10.8,17.619576,59.018397,11.7,10.9,11.0
7446,2025-05-18 08:58:00,√Öbyn√§sbadet,10.6,17.619576,59.018397,10.8,11.7,10.9
7447,2025-05-19 14:58:00,√Öbyn√§sbadet,12.2,17.619576,59.018397,10.6,10.8,11.7
7448,2025-05-20 14:58:00,√Öbyn√§sbadet,12.8,17.619576,59.018397,12.2,10.6,10.8
7449,2025-05-21 14:58:00,√Öbyn√§sbadet,12.2,17.619576,59.018397,12.8,12.2,10.6

In [12]:
#Double check
water_temp_df[water_temp_df["alias"] == "M√§larbadet"] #<-- FYLL I

,formatted_time,alias,temp_water,longitude,latitude,lagged_wt_1_day,lagged_wt_2_days,lagged_wt_3_days
3265,2022-01-04 12:09:00,M√§larbadet,2.1,17.611886,59.222657,2.2,2.2,2.2
3266,2022-01-05 12:10:00,M√§larbadet,2.0,17.611886,59.222657,2.1,2.2,2.2
3267,2022-01-06 12:10:00,M√§larbadet,1.6,17.611886,59.222657,2.0,2.1,2.2
3268,2022-01-07 12:10:00,M√§larbadet,1.4,17.611886,59.222657,1.6,2.0,2.1
3269,2022-01-08 12:10:00,M√§larbadet,1.5,17.611886,59.222657,1.4,1.6,2.0
...,...,...,...,...,...,...,...,...
4273,2025-12-29 07:35:00,M√§larbadet,4.6,17.611886,59.222657,4.8,5.2,5.1
4274,2025-12-30 13:35:00,M√§larbadet,3.7,17.611886,59.222657,4.6,4.8,5.2
4275,2025-12-31 07:35:00,M√§larbadet,3.1,17.611886,59.222657,3.7,4.6,4.8
4276,2026-01-01 13:35:00,M√§larbadet,3.0,17.611886,59.222657,3.1,3.7,4.6
4277,2026-01-02 07:35:00,M√§larbadet,3.0,17.611886,59.222657,3.0,3.1,3.7

---

<span style="font-width:bold; font-size: 3rem; color:#333;">- Feature Backfill for Weather Data</span>

## üå¶ Loading Weather Data from [Open Meteo](https://open-meteo.com/en/docs)

## <span style='color:#ff5f27'> üåç STEP 9: Download the Historical Weather Data </span>

https://open-meteo.com/en/docs/historical-weather-api#hourly=&daily=temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_direction_10m_dominant

We will download the historical weather data for your `city` by first extracting the earliest date from your DataFrame containing the historical air quality measurements.

We will download all daily historical weather data measurements for your `city` from the earliest date in your air quality measurement DataFrame. It doesn't matter if there are missing days of air quality measurements. We can store all of the daily weather measurements, and when we build our training dataset, we will join up the air quality measurements for a given day to its weather features for that day. 

The weather features we will download are:

 * `temperature (average over the day)`
 * `precipitation (the total over the day)`
 * `wind speed (average over the day)`
 * `wind direction (the most dominant direction over the day)`

In [13]:
earliest_wt_date = pd.Series.min(water_temp_df['formatted_time'])
earliest_wt_date = earliest_wt_date.strftime('%Y-%m-%d')
earliest_wt_date

#Store all unique measure times
measure_times_df = water_temp_df[["formatted_time", "alias"]].copy()

weather_df = None

#Get weather for each location coordinates
for bath_dict in bath_locations: #<-- SE TILL ATT DETTA FUNGERAR MED V√ÖR LOGIK
        #Extract variables
        location = bath_dict["bath_location"]
        latitude = bath_dict["latitude"]
        longitude = bath_dict["longitude"]

        #Extract target times used for retrieving weather
        spec_measure_times_df = measure_times_df[measure_times_df["alias"] == location]

        #Get weather for each measurement for this location
        weather_df_temp = util.get_historical_weather(spec_measure_times_df, earliest_wt_date, str(today), latitude, longitude)
        
        #Update values in dataframe
        weather_df_temp["latitude"] = latitude
        weather_df_temp["longitude"] = longitude
        #weather_df_temp["batch_location"] = location

        #Merge with total weather datafram
        if weather_df is None:
            weather_df =  weather_df_temp
        else:
            weather_df = pd.concat([weather_df, weather_df_temp], ignore_index=True)

weather_df = weather_df.drop(columns="rounded")

In [14]:


weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7423 entries, 0 to 7422
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   formatted_time                7423 non-null   datetime64[ns]
 1   alias                         7423 non-null   object
 2   temperature_2m                7423 non-null   float32
 3   precipitation                 7423 non-null   float32
 4   wind_speed_10m                7423 non-null   float32
 5   wind_direction_10m            7423 non-null   float32
 6   shortwave_radiation_sum_yday  7422 non-null   float32
 7   sunshine_duration_yday        7422 non-null   float32
 8   latitude                      7423 non-null   float64
 9   longitude                     7423 non-null   float64
dtypes: datetime64[ns](1), float32(6), float64(2), object(1)
memory usage: 406.1+ KB

In [15]:
weather_df.head()

,formatted_time,alias,temperature_2m,precipitation,wind_speed_10m,wind_direction_10m,shortwave_radiation_sum_yday,sunshine_duration_yday,latitude,longitude
0,2022-01-04 12:27:00,Bergabadet,1.05,0.0,15.188416,238.570480,1.51,4.206967,59.057008,17.440774
1,2022-01-05 12:30:00,Bergabadet,0.20,0.0,7.289445,302.905243,0.52,0.000000,59.057008,17.440774
2,2022-01-06 12:28:00,Bergabadet,-4.75,0.0,11.681987,303.690094,1.66,4.330404,59.057008,17.440774
3,2022-01-07 12:28:00,Bergabadet,-4.95,0.0,4.104631,74.744827,1.02,2.252936,59.057008,17.440774
4,2022-01-08 12:28:00,Bergabadet,0.40,0.0,5.351785,222.273621,0.82,0.000000,59.057008,17.440774

## üìã Define validation rules

In [16]:
#For water temperature data

import great_expectations as ge
wt_expectation_suite = ge.core.ExpectationSuite(
    expectation_suite_name="wt_expectation_suite"
)

wt_expectation_suite.add_expectation(
    ge.core.ExpectationConfiguration(
        expectation_type="expect_column_min_to_be_between",
        kwargs={
            "column":"temp_water",
            "min_value":-5,
            "max_value":40,
            "strict_min":True
        }
    )
)

{"expectation_type": "expect_column_min_to_be_between", "kwargs": {"column": "temp_water", "min_value": -5, "max_value": 40, "strict_min": true}, "meta": {}}

In [17]:
#For weather data

import great_expectations as ge
weather_expectation_suite = ge.core.ExpectationSuite(
    expectation_suite_name="weather_expectation_suite"
)

def expect_between(col, min_v=-0.1, max_v=1000.0):
    weather_expectation_suite.add_expectation(
        ge.core.ExpectationConfiguration(
            expectation_type="expect_column_min_to_be_between",
            kwargs={
                "column": col,
                "min_value": min_v,
                "max_value": max_v,
                "strict_min": True,
            },
        )
    )
expect_between("precipitation")
expect_between("wind_speed_10m", max_v=200.0)
expect_between("shortwave_radiation_sum_yday", min_v=-0.1, max_v=100.0)
expect_between("sunshine_duration_yday", min_v=-0.1, max_v=24.5)

---

## ü§´ Connect to Hopsworks and save secrets

In [18]:
fs = project.get_feature_store()

#### Save country, city, street names as a secret

These will be downloaded from Hopsworks later in the (1) daily feature pipeline and (2) the daily batch inference pipeline

In [19]:
#Store the name of the bath location and coordinates as secrets in Hopsworks

dict_array = []

for bath_dict in bath_locations:


    dict_array.append(bath_dict)
    print(dict_array)

#Convert to json
secret_value = json.dumps(dict_array)

#If secret already exists, we replace
secrets = hopsworks.get_secrets_api()

secret = secrets.get_secret("BATH_LOCATIONS_JSON")
if secret is not None:
    secret.delete()
    print("Replacing existing BATH_LOCATIONS_JSON")


secrets.create_secret("BATH_LOCATIONS_JSON", secret_value)

[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}, {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}, {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534}, {'bath_location': 'N√§sets udde(Glashyttan)', 'latitude': 59.158419, 'longitude': 17.66072}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}, {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534}, {'bath_location': 'N√§sets udde(Glashyttan)', 'latitude': 59.158419, 'longitude': 17.66072}, {'bath_location': 'Under√•sbadet', 'latitude': 59.26482, 'longitude': 17.536534}]
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}, {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534}, {'bath_location': 'N√§sets udde(Glashyttan)', 'latitude': 59.158419, 'longitude': 17.66072}, {'bath_location': 'Under√•sbadet', 'latitude': 59.26482, 'longitude': 17.536534}, {'bath_location': '√Öbyn√§sbadet', 'latitude': 59.018397, 'longitude': 17.619576}]
Replacing existing BATH_LOCATIONS_JSON
Secret created successfully, explore it at https://c.app.hopsworks.ai:443/account/secrets

Secret('BATH_LOCATIONS_JSON', 'PRIVATE')

## üé® Create feature groups

In [20]:
current_version = 1

water_temperature_fg = fs.get_or_create_feature_group(
    name='water_temperature',
    description='Water temperature at batch locations in S√∂dert√§lje each day',
    version=current_version,
    primary_key=['alias'],
    event_time="formatted_time",
    expectation_suite=wt_expectation_suite
)

In [21]:
#Insert water temperature dataframe into feature group
water_temperature_fg.insert(water_temp_df)

2026-01-02 23:07:42,546 INFO: 	1 expectation(s) included in expectation_suite.
Validation succeeded.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1286295/fs/1265767/fg/1878517

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 7423/7423 | Elapsed Time: 00:01 | Remaining Time: 00:00

Launching job: water_temperature_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1286295/jobs/named/water_temperature_1_offline_fg_materialization/executions

(Job('water_temperature_1_offline_fg_materialization', 'SPARK'),
 {
   "success": true,
   "results": [
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "temp_water",
           "min_value": -5,
           "max_value": 40,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800796
         }
       },
       "result": {
         "observed_value": -1.1,
         "element_count": 7423,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:07:42.000546Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     }
   ],
   "evaluation_parameters": {},
   "statistics": {
     "evaluated_expectations": 1,
     "successful_expectations": 1,
     "unsuccessful_expectations": 0,
     "success_percent": 100.0
   },
   "meta": {
     "great_expectations_version": "0.18.12",
     "expectation_suite_name": "wt_expectation_suite",
     "run_id": {
       "run_name": null,
       "run_time": "2026-01-02T23:07:42.546457+01:00"
     },
     "batch_kwargs": {
       "ge_batch_id": "75c15936-e827-11f0-b10a-daa4c60bf7f4"
     },
     "batch_markers": {},
     "batch_parameters": {},
     "validation_time": "20260102T220742.546398Z",
     "expectation_suite_meta": {
       "great_expectations_version": "0.18.12"
     }
   }
 })

In [22]:
#Descriptions of features

water_temperature_fg.update_feature_description("formatted_time", "Date and time of measurement of water temperature")
water_temperature_fg.update_feature_description("alias", "Name of the bath location where the water temperature was measured")
water_temperature_fg.update_feature_description("latitude", "Latitude of sensor measuring water temperature")
water_temperature_fg.update_feature_description("longitude", "Longitude of sensor measuring water temperature")
water_temperature_fg.update_feature_description("temp_water", "Water temperature measured")
water_temperature_fg.update_feature_description("lagged_wt_1_day", "Water temperature measured yesterday")
water_temperature_fg.update_feature_description("lagged_wt_2_days", "Water temperature measured two days ago")
water_temperature_fg.update_feature_description("lagged_wt_3_days", "Water temperature measured three days ago")

In [23]:

#Create feature group for whether data

w_version = 1

weather_fg = fs.get_or_create_feature_group(
    name='weather',
    description='Weather characteristics of each day at point in time corresponding to measurement',
    version=w_version,
    primary_key=['alias'],
    event_time="formatted_time",
    expectation_suite=weather_expectation_suite
)

#### Insert the DataFrame into the Feature Group

In [24]:
weather_df

,formatted_time,alias,temperature_2m,precipitation,wind_speed_10m,wind_direction_10m,shortwave_radiation_sum_yday,sunshine_duration_yday,latitude,longitude
0,2022-01-04 12:27:00,Bergabadet,1.05,0.0,15.188416,238.570480,1.510000,4.206967,59.057008,17.440774
1,2022-01-05 12:30:00,Bergabadet,0.20,0.0,7.289445,302.905243,0.520000,0.000000,59.057008,17.440774
2,2022-01-06 12:28:00,Bergabadet,-4.75,0.0,11.681987,303.690094,1.660000,4.330404,59.057008,17.440774
3,2022-01-07 12:28:00,Bergabadet,-4.95,0.0,4.104631,74.744827,1.020000,2.252936,59.057008,17.440774
4,2022-01-08 12:28:00,Bergabadet,0.40,0.0,5.351785,222.273621,0.820000,0.000000,59.057008,17.440774
...,...,...,...,...,...,...,...,...,...,...
7418,2025-05-17 14:58:00,√Öbyn√§sbadet,9.90,0.0,15.244842,22.932131,6.710000,1.605768,59.018397,17.619576
7419,2025-05-18 08:58:00,√Öbyn√§sbadet,13.55,0.0,22.046877,8.923906,21.030001,12.938684,59.018397,17.619576
7420,2025-05-19 14:58:00,√Öbyn√§sbadet,21.00,0.0,7.040739,327.528839,27.070000,15.570337,59.018397,17.619576
7421,2025-05-20 14:58:00,√Öbyn√§sbadet,16.85,0.0,5.588703,165.068527,25.650000,15.213111,59.018397,17.619576
7422,2025-05-21 14:58:00,√Öbyn√§sbadet,9.25,0.0,18.532135,60.945492,12.180000,2.311556,59.018397,17.619576

In [25]:
#Insert wather dataframe into feature group
weather_fg.insert(weather_df, wait=True)

2026-01-02 23:08:03,736 INFO: 	4 expectation(s) included in expectation_suite.
Validation succeeded.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1286295/fs/1265767/fg/1878518

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 7423/7423 | Elapsed Time: 00:02 | Remaining Time: 00:00

Launching job: weather_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1286295/jobs/named/weather_1_offline_fg_materialization/executions
2026-01-02 23:08:22,740 INFO: Waiting for execution to finish. Current state: INITIALIZING. Final status: UNDEFINED
2026-01-02 23:08:25,939 INFO: Waiting for execution to finish. Current state: RUNNING. Final status: UNDEFINED
2026-01-02 23:10:04,910 INFO: Waiting for log aggregation to finish.
2026-01-02 23:10:13,547 INFO: Execution finished successfully.

(Job('weather_1_offline_fg_materialization', 'SPARK'),
 {
   "success": true,
   "results": [
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "sunshine_duration_yday",
           "min_value": -0.1,
           "max_value": 90000.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800800
         }
       },
       "result": {
         "observed_value": 0.0,
         "element_count": 7423,
         "missing_count": 1,
         "missing_percent": 0.013471642193183348
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:08:03.000736Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "shortwave_radiation_sum_yday",
           "min_value": -0.1,
           "max_value": 100.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800799
         }
       },
       "result": {
         "observed_value": 0.12999999523162842,
         "element_count": 7423,
         "missing_count": 1,
         "missing_percent": 0.013471642193183348
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:08:03.000736Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "precipitation",
           "min_value": -0.1,
           "max_value": 1000.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800798
         }
       },
       "result": {
         "observed_value": 0.0,
         "element_count": 7423,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:08:03.000736Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "wind_speed_10m",
           "min_value": -0.1,
           "max_value": 200.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800797
         }
       },
       "result": {
         "observed_value": 0.0,
         "element_count": 7423,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:08:03.000736Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     }
   ],
   "evaluation_parameters": {},
   "statistics": {
     "evaluated_expectations": 4,
     "successful_expectations": 4,
     "unsuccessful_expectations": 0,
     "success_percent": 100.0
   },
   "meta": {
     "great_expectations_version": "0.18.12",
     "expectation_suite_name": "weather_expectation_suite",
     "run_id": {
       "run_name": null,
       "run_time": "2026-01-02T23:08:03.736181+01:00"
     },
     "batch_kwargs": {
       "ge_batch_id": "8262a60e-e827-11f0-b10a-daa4c60bf7f4"
     },
     "batch_markers": {},
     "batch_parameters": {},
     "validation_time": "20260102T220803.736110Z",
     "expectation_suite_meta": {
       "great_expectations_version": "0.18.12"
     }
   }
 })

In [26]:
#Description of features in feature group

weather_fg.update_feature_description("formatted_time", "Date and time of measurement of weather")
weather_fg.update_feature_description("alias", "Name of bath_location where weather is measured/forecast for")
weather_fg.update_feature_description("temperature_2m", "Temperature in Celsius")
weather_fg.update_feature_description("precipitation", "Precipitation (rain/snow) in mm")
weather_fg.update_feature_description("wind_speed_10m", "Wind speed at 10m abouve ground")
weather_fg.update_feature_description("wind_direction_10m", "Dominant Wind direction over the day")
weather_fg.update_feature_description(
    "shortwave_radiation_sum_yday",
    "Daily sum of solar radiation (MJ/m¬≤) for the previous day (lagged 1 day)"
)
weather_fg.update_feature_description(
    "sunshine_duration_yday",
    "Seconds of sunshine per day for the previous day (lagged 1 day)"
)

---