In [1]:
import sys
from pathlib import Path
#from mlfs import config

#Find root directory
root_dir = Path().absolute()
if root_dir.parts[-2:] == ('notebooks', 'algae_bloom'):
    root_dir = Path(*root_dir.parts[:-2])
root_dir = str(root_dir)

print(f"Root dir: {root_dir}")

# Add the root directory to the `PYTHONPATH` 
if root_dir not in sys.path:
    sys.path.append(root_dir)
    print(f"Added the following directory to the PYTHONPATH: {root_dir}")

Root dir: /Users/kevinkokalari/Documents/Skalbar MaskininlaÃàrning och DjupinlaÃàrning/Laborationer/id2223-project
Added the following directory to the PYTHONPATH: /Users/kevinkokalari/Documents/Skalbar MaskininlaÃàrning och DjupinlaÃàrning/Laborationer/id2223-project

In [ ]:
import sys, hopsworks, hsfs
print("python:", sys.version)
print("hopsworks:", hopsworks.__version__)
print("hsfs:", hsfs.__version__)

<span style="font-width:bold; font-size: 3rem; color:#333;">- Daily Feature Pipeline for Water Temperature and Weather</span>

## üåê Imports

In [2]:
import datetime
import time
import requests
import pandas as pd
import hopsworks
from mlfs.airquality import util
from mlfs import config
import json
import os
import warnings
warnings.filterwarnings("ignore")

## üôä Get variebles from Hopsworks secret </span>

In [3]:
project = hopsworks.login(engine="python")
fs = project.get_feature_store() 
secrets = hopsworks.get_secrets_api()

#Get the dictionary with all batch locations
bath_locations_json = secrets.get_secret("BATH_LOCATIONS_JSON").value
bath_locations = json.loads(bath_locations_json)
print(bath_locations)

#Set date to today
today = datetime.date.today()

2026-01-02 23:10:58,017 INFO: Initializing external client
2026-01-02 23:10:58,018 INFO: Base URL: https://c.app.hopsworks.ai:443

2026-01-02 23:10:59,476 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1286295
[{'bath_location': 'Bergabadet', 'latitude': 59.057008, 'longitude': 17.440774}, {'bath_location': 'Br√§nningestrand', 'latitude': 59.148617, 'longitude': 17.6674}, {'bath_location': 'Eklundsn√§sbadet', 'latitude': 59.16883, 'longitude': 17.59184}, {'bath_location': 'Farstan√§sbadet', 'latitude': 59.096884, 'longitude': 17.65387}, {'bath_location': 'M√§larbadet', 'latitude': 59.222657, 'longitude': 17.611886}, {'bath_location': 'Nya Malmsj√∂badet', 'latitude': 59.234823, 'longitude': 17.536534}, {'bath_location': 'N√§sets udde(Glashyttan)', 'latitude': 59.158419, 'longitude': 17.66072}, {'bath_location': 'Under√•sbadet', 'latitude': 59.26482, 'longitude': 17.536534}, {'bath_location': '√Öbyn√§sbadet', 'latitude': 59.018397, 'longitude': 17.619576}]

## ‚òÇÔ∏è Get feature groups

In [4]:
#Select version of feature group
wt_version = 1
w_version = 1

#Retrieve feature groups
water_temperature_fg = fs.get_feature_group( 
    name='water_temperature',
    version=wt_version,
)

weather_fg = fs.get_feature_group(
    name='weather',
    version=w_version,
)

---

## üí¶ Get today's water temperature data

In [5]:
import requests
import pandas as pd

wt_today_df = util.get_wt()

wt_today_df

Saved: 2 rows to watertemp_midday.csv

   temp_water      formatted_time       alias   latitude  longitude
0         3.0 2026-01-02 07:35:00  M√§larbadet  59.222657  17.611886

In [6]:
wt_today_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp_water      1 non-null      float64
 1   formatted_time  1 non-null      datetime64[ns]
 2   alias           1 non-null      object
 3   latitude        1 non-null      float64
 4   longitude       1 non-null      float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 172.0+ bytes

## üîô Add lagged water temperature

In [7]:
#Load dataframe and covert dates to not include time
features_df = water_temperature_fg.read()
features_df["formatted_time"] = pd.to_datetime(features_df["formatted_time"])#.dt.date
features_df

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.36s)

,formatted_time,alias,temp_water,longitude,latitude,lagged_wt_1_day,lagged_wt_2_days,lagged_wt_3_days
0,2025-02-27 13:53:00+00:00,√Öbyn√§sbadet,2.0,17.619576,59.018397,1.9,1.7,1.7
1,2022-10-26 10:40:00+00:00,Eklundsn√§sbadet,8.3,17.591840,59.168830,11.3,8.4,5.3
2,2022-07-22 11:44:00+00:00,Br√§nningestrand,20.8,17.667400,59.148617,20.4,18.9,18.8
3,2022-12-11 10:11:00+00:00,Farstan√§sbadet,3.9,17.653870,59.096884,4.0,5.0,4.4
4,2024-06-30 14:45:00+00:00,Farstan√§sbadet,20.2,17.653870,59.096884,21.4,21.4,21.0
...,...,...,...,...,...,...,...,...
7418,2025-12-31 07:35:00+00:00,M√§larbadet,3.1,17.611886,59.222657,3.7,4.6,4.8
7419,2025-12-30 13:35:00+00:00,M√§larbadet,3.7,17.611886,59.222657,4.6,4.8,5.2
7420,2026-01-02 07:35:00+00:00,M√§larbadet,3.0,17.611886,59.222657,3.0,3.1,3.7
7421,2026-01-01 13:35:00+00:00,M√§larbadet,3.0,17.611886,59.222657,3.1,3.7,4.6
7422,2025-12-29 07:35:00+00:00,M√§larbadet,4.6,17.611886,59.222657,4.8,5.2,5.1

In [8]:
yesterday = today - datetime.timedelta(days=1)
two_days_ago = today - datetime.timedelta(days=2)
three_days_ago = today - datetime.timedelta(days=3)
print("yesterday", yesterday)
print("two_days_ago", two_days_ago)
print("three_days_ago", three_days_ago)

yesterday 2026-01-01
two_days_ago 2025-12-31
three_days_ago 2025-12-30

In [9]:
wt_today_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp_water      1 non-null      float64
 1   formatted_time  1 non-null      datetime64[ns]
 2   alias           1 non-null      object
 3   latitude        1 non-null      float64
 4   longitude       1 non-null      float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 172.0+ bytes

In [10]:


# One row per (street, date) for each lag
yesterday_df = (features_df[features_df["formatted_time"].dt.date == yesterday][["alias", "temp_water"]].rename(columns={"temp_water": "lagged_wt_1_day"}))

two_days_ago_df = (features_df[features_df["formatted_time"].dt.date == two_days_ago][["alias", "temp_water"]].rename(columns={"temp_water": "lagged_wt_2_days"}))

three_days_ago_df = (features_df[features_df["formatted_time"].dt.date == three_days_ago][["alias", "temp_water"]].rename(columns={"temp_water": "lagged_wt_3_days"}))

# Merge lagged values into today's rows, per street/sensor
wt_today_df = (wt_today_df.merge(yesterday_df, on="alias", how="left").merge(two_days_ago_df, on="alias", how="left").merge(three_days_ago_df, on="alias", how="left"))


wt_today_df

,temp_water,formatted_time,alias,latitude,longitude,lagged_wt_1_day,lagged_wt_2_days,lagged_wt_3_days
0,3.0,2026-01-02 07:35:00,M√§larbadet,59.222657,17.611886,3.0,3.1,3.7

## üå¶ Get weather data

In [11]:
daily_df = None



for index, row in wt_today_df.iterrows():

    current_datetime = row["formatted_time"]
    #rounded_datetime = row["rounded"].dt.round("H")

    lower_bound = (current_datetime.round("H") - pd.Timedelta(minutes=1)).time()
    upper_bound = (current_datetime.round("H") + pd.Timedelta(minutes=1)).time()



    hourly_df = util.get_hourly_weather_forecast(row["latitude"], row["longitude"])



    hourly_df = hourly_df.set_index('date')
    hourly_df = hourly_df.sort_values(by="date")

    # We will only make 1 daily prediction, so we will replace the hourly forecasts with a single daily forecast


    daily_df_partial = hourly_df.iloc[0:23].between_time(lower_bound, upper_bound)
    
    daily_df_partial = pd.concat([daily_df_partial, hourly_df.iloc[24:].between_time("11:59", "12:01")])
    print(daily_df_partial.info())

    daily_df_partial = daily_df_partial.reset_index()
    #daily_df_partial['formatted_time'] = pd.to_datetime(daily_df_partial['formatted_time']).dt.date
    #daily_df_partial['rounded'] = pd.to_datetime(daily_df_partial['rounded'])
    daily_df_partial['formatted_time'] = daily_df_partial["date"].copy()
    daily_df_partial.iloc[0]["formatted_time"] = current_datetime

    daily_df_partial = daily_df_partial.drop(columns="date")
    
    
    daily_df_partial["alias"] = row["alias"]
    daily_df_partial["latitude"] = row["latitude"]
    daily_df_partial["longitude"] = row["longitude"]
    #daily_df_partial = daily_df_partial.drop("rounded")

    if daily_df is None:
        daily_df = daily_df_partial
    else:
        daily_df=pd.concat([daily_df, daily_df_partial], ignore_index=True)
        
#daily_df = daily_df.drop(columns="date")
daily_df

Coordinates 59.25¬∞N 17.5¬∞E
Elevation 0.0 m asl
Timezone b'Europe/Stockholm' b'GMT+1'
Timezone difference to GMT+0 3600 s
Hourly: <openmeteo_sdk.VariablesWithTime.VariablesWithTime object at 0x317961ff0>
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2026-01-02 08:00:00 to 2026-01-07 12:00:00
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   temperature_2m                6 non-null      float32
 1   precipitation                 6 non-null      float32
 2   wind_speed_10m                6 non-null      float32
 3   wind_direction_10m            6 non-null      float32
 4   shortwave_radiation_sum_yday  6 non-null      float32
 5   sunshine_duration_yday        6 non-null      float32
dtypes: float32(6)
memory usage: 192.0 bytes
None

,temperature_2m,precipitation,wind_speed_10m,wind_direction_10m,shortwave_radiation_sum_yday,sunshine_duration_yday,formatted_time,alias,latitude,longitude
0,0.05,0.2,15.696165,36.607166,0.43,0.000000,2026-01-02 08:00:00,M√§larbadet,59.222657,17.611886
1,0.10,0.2,17.819090,44.999897,0.72,0.044452,2026-01-03 12:00:00,M√§larbadet,59.222657,17.611886
2,-5.35,0.0,23.188583,27.758451,0.70,0.300795,2026-01-04 12:00:00,M√§larbadet,59.222657,17.611886
3,-5.05,0.0,17.057314,44.145004,0.60,0.000000,2026-01-05 12:00:00,M√§larbadet,59.222657,17.611886
4,-4.65,0.0,1.835647,11.309896,1.32,2.061547,2026-01-06 12:00:00,M√§larbadet,59.222657,17.611886
5,-7.20,0.0,9.000000,163.739716,1.06,2.101234,2026-01-07 12:00:00,M√§larbadet,59.222657,17.611886

In [12]:
if not daily_df is None:
    daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   temperature_2m                6 non-null      float32
 1   precipitation                 6 non-null      float32
 2   wind_speed_10m                6 non-null      float32
 3   wind_direction_10m            6 non-null      float32
 4   shortwave_radiation_sum_yday  6 non-null      float32
 5   sunshine_duration_yday        6 non-null      float32
 6   formatted_time                6 non-null      datetime64[ns]
 7   alias                         6 non-null      object
 8   latitude                      6 non-null      float64
 9   longitude                     6 non-null      float64
dtypes: datetime64[ns](1), float32(6), float64(2), object(1)
memory usage: 468.0+ bytes

## üÜô Upload data to feature groups

In [13]:
# Insert new data
water_temperature_fg.insert(wt_today_df)

2026-01-02 23:11:06,689 INFO: 	1 expectation(s) included in expectation_suite.
Validation succeeded.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1286295/fs/1265767/fg/1878517

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 1/1 | Elapsed Time: 00:00 | Remaining Time: 00:00

Launching job: water_temperature_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1286295/jobs/named/water_temperature_1_offline_fg_materialization/executions

(Job('water_temperature_1_offline_fg_materialization', 'SPARK'),
 {
   "success": true,
   "results": [
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "temp_water",
           "min_value": -5,
           "max_value": 40,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800796
         }
       },
       "result": {
         "observed_value": 3.0,
         "element_count": 1,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:11:06.000689Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     }
   ],
   "evaluation_parameters": {},
   "statistics": {
     "evaluated_expectations": 1,
     "successful_expectations": 1,
     "unsuccessful_expectations": 0,
     "success_percent": 100.0
   },
   "meta": {
     "great_expectations_version": "0.18.12",
     "expectation_suite_name": "wt_expectation_suite",
     "run_id": {
       "run_name": null,
       "run_time": "2026-01-02T23:11:06.689223+01:00"
     },
     "batch_kwargs": {
       "ge_batch_id": "ef6ee15e-e827-11f0-985e-daa4c60bf7f4"
     },
     "batch_markers": {},
     "batch_parameters": {},
     "validation_time": "20260102T221106.689048Z",
     "expectation_suite_meta": {
       "great_expectations_version": "0.18.12"
     }
   }
 })

In [14]:
# Insert new data
weather_fg.insert(daily_df, wait=True)

2026-01-02 23:11:20,514 INFO: 	4 expectation(s) included in expectation_suite.
Validation succeeded.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/1286295/fs/1265767/fg/1878518

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 6/6 | Elapsed Time: 00:01 | Remaining Time: 00:00

Launching job: weather_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1286295/jobs/named/weather_1_offline_fg_materialization/executions
2026-01-02 23:11:38,137 INFO: Waiting for execution to finish. Current state: INITIALIZING. Final status: UNDEFINED
2026-01-02 23:11:41,346 INFO: Waiting for execution to finish. Current state: RUNNING. Final status: UNDEFINED
2026-01-02 23:13:08,119 INFO: Waiting for execution to finish. Current state: AGGREGATING_LOGS. Final status: SUCCEEDED
2026-01-02 23:13:08,322 INFO: Waiting for log aggregation to finish.
2026-01-02 23:13:17,079 INFO: Execution finished successfully.

(Job('weather_1_offline_fg_materialization', 'SPARK'),
 {
   "success": true,
   "results": [
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "wind_speed_10m",
           "min_value": -0.1,
           "max_value": 200.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800797
         }
       },
       "result": {
         "observed_value": 1.8356469869613647,
         "element_count": 6,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:11:20.000514Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "shortwave_radiation_sum_yday",
           "min_value": -0.1,
           "max_value": 100.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800799
         }
       },
       "result": {
         "observed_value": 0.4300000071525574,
         "element_count": 6,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:11:20.000514Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "precipitation",
           "min_value": -0.1,
           "max_value": 1000.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800798
         }
       },
       "result": {
         "observed_value": 0.0,
         "element_count": 6,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:11:20.000514Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     },
     {
       "success": true,
       "expectation_config": {
         "expectation_type": "expect_column_min_to_be_between",
         "kwargs": {
           "column": "sunshine_duration_yday",
           "min_value": -0.1,
           "max_value": 90000.0,
           "strict_min": true
         },
         "meta": {
           "expectationId": 800800
         }
       },
       "result": {
         "observed_value": 0.0,
         "element_count": 6,
         "missing_count": null,
         "missing_percent": null
       },
       "meta": {
         "ingestionResult": "INGESTED",
         "validationTime": "2026-01-02T10:11:20.000514Z"
       },
       "exception_info": {
         "raised_exception": false,
         "exception_message": null,
         "exception_traceback": null
       }
     }
   ],
   "evaluation_parameters": {},
   "statistics": {
     "evaluated_expectations": 4,
     "successful_expectations": 4,
     "unsuccessful_expectations": 0,
     "success_percent": 100.0
   },
   "meta": {
     "great_expectations_version": "0.18.12",
     "expectation_suite_name": "weather_expectation_suite",
     "run_id": {
       "run_name": null,
       "run_time": "2026-01-02T23:11:20.514255+01:00"
     },
     "batch_kwargs": {
       "ge_batch_id": "f7ac7534-e827-11f0-985e-daa4c60bf7f4"
     },
     "batch_markers": {},
     "batch_parameters": {},
     "validation_time": "20260102T221120.514071Z",
     "expectation_suite_meta": {
       "great_expectations_version": "0.18.12"
     }
   }
 })